
<h1><%= @list.id ? 'Edit List' : 'Create List' %></h1>


<%= form_with(model:[@board, @list], local: true, class: "form") do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "List name" %>
    <%= f.label :notes %>
    <%= f.text_field :notes, required: true, placeholder: "Notes" %>
    <%= f.submit nil, class: "btn btn-primary" %>
<% end %>


