<h1>Welcome to Trollo</h1>
<h3>All your Boards</h3>
<% @boards.each do |board| %>
  <h3><%=link_to board.name,board_lists_path(board)%></h3>
  <br>
  <%= link_to "View", board_path(board),class:"btn btn-outline-primary"  %>
  <%= link_to "Edit", edit_board_path(board), class:"btn btn-outline-warning" %>
  <%= link_to "Delete", board_path(board), method: :delete, class:"btn btn-outline-danger" %>
  <hr>
<% end %>
<br />
<div class="create">
<%= link_to "Create New Board", new_board_path, class:"btn btn-success" %>
</div>